# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Demo Cogbooks

on:
  push:
    # branches: [ main ]
    paths:
    - 'website_src'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo to runner
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cogbooks

    - name: Get files in all commits since last push
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run cogbooks on changed files
      # ------------ TOGGLE THIS TO ONLY ECHO FILENAMES ------------
      # run: |
      #   for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
      #     echo "${changed_file} was updated.";
      #   done

      # ------------ TOGGLE THIS TO RUN COGBOOKS ON ALL ------------
      run: |
        for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
          cogbooks ${changed_file} --force;
        done

    # - name: get updated and new files (take 2)
    #   id: files
    #   uses: jitterbit/get-changed-files@v1
    # - run: |
    #     for changed_file in ${{ steps.files.outputs.all }}; do
    #       cogbooks ${changed_file} --force;
    #     done

    # - name: Run cogbooks on single file
    #   run: cogbooks AudioSignalBasics.md --force

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff-index --quiet HEAD || git commit -m "auto-updated student notebooks" -a

    - name: Push changed files
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
