name: Demo Cogbooks

on:
  push:
    branches: [ main ]
    # paths:
    # - 'website_src'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo to runner
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cogbooks

    - name: Get files in all commits since last push
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run cogbooks on changed files
      # ------------ TOGGLE THIS TO ONLY ECHO FILENAMES ------------
      # run: |
      #   for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
      #     echo "${changed_file} was updated.";
      #   done
      #

      # ------------ TOGGLE THIS TO RUN COGBOOKS BY DIR ------------
      run: |
        for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
          if [[ ${changed_file} == *"/Audio"* ]]; then
              cogbooks ${changed_file} --force --dir test_outputs/Audio
          elif [[ ${changed_file} == *"/Video"* ]]; then
              cogbooks ${changed_file} --force --dir test_outputs/Video
          elif [[ ${changed_file} == *"/Language"* ]]; then
              cogbooks ${changed_file} --force --dir test_outputs/Language
          elif [[ ${changed_file} == *"/Math_Materials"* ]]; then
              cogbooks ${changed_file} --force --dir test_outputs/Math_Materials
          fi
        done

      # ------------ TOGGLE THIS TO RUN COGBOOKS ON ALL ------------
      # run: |
      #   for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
      #     cogbooks ${changed_file} --force;
      #   done


    # ------------ COMMIT AND PUSH TO SOURCE REPO (OLD) ------------
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff-index --quiet HEAD || git commit -m "Updated student notebooks" -a

    - name: Push changed files
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main

    # ------------- COMMIT AND PUSH TO DEST REPO (NEW) -------------
    # WWARNING - DELETES EVERYTHING IN DEST REPO AND REPLACES WITH SOURCE-DIR
    - name: Push to student repository
      uses: cpina/github-action-push-to-another-repository@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-directory: 'test_outputs'
        destination-github-username: 'JuliusStein'
        user-name: 'JuliusStein'
        destination-repository-username: 'JuliusStein'
        destination-repository-name: 'GH_Actions_Output'
        user-email: 'juliusastein@gmail.com'
        commit-message: Automated student notebook update
        target-branch: main
