name: Demo Cogbooks

on:
  push:
    branches: [ main ]
    paths:
    - 'website_src/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo to runner
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cogbooks

    - name: Get files in all commits since last push
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Run cogbooks on changed files
      # ------------ TOGGLE THIS TO RUN COGBOOKS AND OUTPUT TO RUNNER ------------
      run: |
        for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
          if [[ ${changed_file} == *"/Audio/Exercises"* ]]; then
              cogbooks ${changed_file} --force --dir /home/runner/work/_temp
          elif [[ ${changed_file} == *"/Video/Exercises"* ]]; then
              cogbooks ${changed_file} --force --dir /home/runner/work/_temp
          elif [[ ${changed_file} == *"/Language/Exercises"* ]]; then
              cogbooks ${changed_file} --force --dir /home/runner/work/_temp
          fi
        done

        cd /home/runner/work/_temp
        ls

    - name: Get student repository
      uses: actions/checkout@master
      with:
        repository: JuliusStein/GH_Actions_Output
        token: ${{ secrets.API_TOKEN_GITHUB }}
        path: ./GH_Actions_Output


    - name: Run rename script on cogbooks files
      run: |
        for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
          if [[ ${changed_file} == *"/Audio/Exercises"* ]]; then
              python .github/workflows/renameFilesCogweb.py ${changed_file}
          elif [[ ${changed_file} == *"/Video/Exercises"* ]]; then
              python .github/workflows/renameFilesCogweb.py ${changed_file}
          elif [[ ${changed_file} == *"/Language/Exercises"* ]]; then
              python .github/workflows/renameFilesCogweb.py ${changed_file}
          fi
        done


      # ------------ TOGGLE THIS TO RUN COGBOOKS AND OUTPUT TO SOURCE ------------
      # run: |
      #   for changed_file in $(git diff --name-only ${{ github.event.before }}..${{ github.event.after }}); do
      #     if [[ ${changed_file} == *"/Audio/Exercises"* ]]; then
      #         cogbooks ${changed_file} --force --dir test_outputs/Audio
      #         python .github/workflows/renameFilesCogweb.py ${changed_file}
      #     elif [[ ${changed_file} == *"/Video/Exercises"* ]]; then
      #         cogbooks ${changed_file} --force --dir test_outputs/Video
      #         python .github/workflows/renameFilesCogweb.py ${changed_file}
      #     elif [[ ${changed_file} == *"/Language/Exercises"* ]]; then
      #         cogbooks ${changed_file} --force --dir test_outputs/Language
      #         python .github/workflows/renameFilesCogweb.py ${changed_file}
      #     fi
      #   done



    # ------------ COMMIT AND PUSH TO SOURCE REPO (OLD)------------
    # - name: Commit files
    #   run: |
    #     git config --local user.email "action@github.com"
    #     git config --local user.name "GitHub Action"
    #     git add -A
    #     git diff-index --quiet HEAD || git commit -m "Updated student notebooks" -a
    #
    # - name: Push changed files
    #   uses: ad-m/github-push-action@v0.6.0
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     branch: main

    # ------------- COMMIT AND PUSH TO DEST REPO (OLD)-------------
    # WARNING - DELETES EVERYTHING IN DEST REPO AND REPLACES WITH SOURCE-DIR
    # - name: Push to student repository
    #   uses: cpina/github-action-push-to-another-repository@main
    #   env:
    #     API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
    #   with:
    #     source-directory: 'test_outputs'
    #     destination-github-username: 'JuliusStein'
    #     destination-repository-name: 'GH_Actions_Output'
    #     user-email: 'juliusastein@gmail.com'
    #     commit-message: Automated student notebook update
    #     target-branch: main

    # ------------- COMMIT AND PUSH TO DEST REPO (NEW)-------------
    - name: Commit files to student repo
      run: |
        cd ./GH_Actions_Output
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git diff-index --quiet HEAD || git commit -m "Updated student notebooks" -a

    - name: Push changed files
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.API_TOKEN_GITHUB }}
        branch: main
        directory: ./GH_Actions_Output
